<h4>Fill your Details</h4>
<hr>
<div class="row">
    <div class="col-md-4">
        <label>First Name</label>
        <input type="text" class="form-control" [(ngModel)]="firstName">
    </div>
    <div class="col-md-4">
        <label>Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="lastName">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="email">
    </div>
    <div class="col-md-4">
        <label>Phone Number</label>
        <input type="text" class="form-control" [(ngModel)]="phoneNumber">
    </div>
</div>

<div class="row">
    <div class="col-md-4 pt-3">
        <button class="btn btn-primary" (click)="emitDataToParent()">Emit Data</button>
    </div>
</div>


<div class="row">
    
</div>
