
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <div>
                    Sorry, the page you requested was not found.
                </div>
                <div>
                    <button class="btn btn-dark mt-3" (click)="loadHomePage()"><i class="fa fa-home"></i> Take Me Home </button>
                </div>
            </div>
        </div>
    </div>
</div>