<!-- <div class="row">
    <div class="col-md-4 pt-3">
        <div class="card custom">
            <ul class="list-group list-group-flush">
                <li class="list-group-item cus"> {{ todo.id }} </li>
            </ul>
        </div>
    </div>
</div> -->

<!-- <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ todo.title }}</h5>
        <p class="card-text">{{ todo.completed }}</p>
        <a class="btn btn-primary">Edit</a>
    </div>
</div> -->


<div class="row">
    <div class="col" *ngFor="let todo of todos; let i = index" >
        <div class="card m-3 pt-1 px-3 my-1 custom" style="width: 18rem;" (click)="setDivIndex(i)" [ngClass]="{'highlight': selectedIndex === i}">
            <div class="card-body">
                <h5 class="card-title">{{ todo.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ todo.completed }}</h6>
                <button class="btn btn-danger" (click)="markAsDone(i)">Mark as Done</button>
            </div>
        </div>
    </div> 
</div>